html,body{
  font-family:"helvetica";
  font-size:3em;
  overflow-x:hidden;
  overflow-y:hidden;
}

.fishbodies{
  width: 1000px;
  height: 1500px;
  background:
  radial-gradient(circle at 0% 50%, transparent 98px, #613 100px, transparent 102px) 0px 100px,
  radial-gradient(at 100% 100%,     transparent 98px, #613 100px, transparent 102px);  
  background-size: 200px 200px;

}
